save-exact=true
legacy-peer-deps=true
engine-strict=true

@dpd-common:registry=https://pkgs.dev.azure.com/DPDProjects/84b7f89f-af8e-45f4-bb34-1b1b01fff632/_packaging/common/npm/registry/ 
                    
//pkgs.dev.azure.com/DPDProjects/84b7f89f-af8e-45f4-bb34-1b1b01fff632/_packaging/common/npm/registry/:username=DPDProjects
//pkgs.dev.azure.com/DPDProjects/84b7f89f-af8e-45f4-bb34-1b1b01fff632/_packaging/common/npm/registry/:_password=aml1ZGVmdjU2d2l0bnJ2bWp1bWN2YmgyZmd6dGNxZGtvNWQ3aGhpNnlybXB1cnM1dG1vYQ==
//pkgs.dev.azure.com/DPDProjects/84b7f89f-af8e-45f4-bb34-1b1b01fff632/_packaging/common/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/DPDProjects/84b7f89f-af8e-45f4-bb34-1b1b01fff632/_packaging/common/npm/:username=DPDProjects
//pkgs.dev.azure.com/DPDProjects/84b7f89f-af8e-45f4-bb34-1b1b01fff632/_packaging/common/npm/:_password=aml1ZGVmdjU2d2l0bnJ2bWp1bWN2YmgyZmd6dGNxZGtvNWQ3aGhpNnlybXB1cnM1dG1vYQ==
//pkgs.dev.azure.com/DPDProjects/84b7f89f-af8e-45f4-bb34-1b1b01fff632/_packaging/common/npm/:email=npm requires email to be set but doesn't use the value
